@import "./utils.css";
@import "./buttons.css";
@import "./inputs.css";

:root {
    --primary-gray: #767676;
    --gray-1: #eeeeee;
    --white: #ffffff;
    --gray-2: #d1d1d1;
    ---black: #111111;
}

/* Generics */

body {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

body svg {
    box-sizing: initial;
    font-size: inherit;
    fill: var(--primary-gray);
    width: 1em;
}

body * {
    box-sizing: inherit;
}

img {
    display: block;
}

main img {
    width: 100%;
}

.gallery-column {
    flex-basis: 31%;
}

/* navbar */

nav {
    background-color: var(--white)
}

.search-input {
    width: 50vw;
}

nav a {
    text-decoration: none;
    color: var(--primary-gray);
}

.navbar_divider {
    background-color: var(--primary-gray);
    height: 2em;
    width: 1px;
    margin: 0;
    padding: 0;
}

a:hover {
    color: var(---black);
}

.gradient {
    background: linear-gradient(135deg, #fa00ff, #00e0ff 50%, #fa00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bottom-navbar_item--active {
    border-bottom: solid 3px var(---black);
    color: var(---black);
}

/* hero section */

.hero {
    position: relative;
    width: 100vw;
    height: 82vh;
    color: var(--white);
    background-image: url(./assets/hero-image_large.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.hero h2 {
    margin-bottom: 0.5em;
    font-size: 1.5em;
}

.hero .search-input {
    border-radius: 0.5em;
}

.hero a {
    color: var(--gray-2);
    text-decoration: none;
}

.hero-footer {
    bottom: 0;
    padding-left: 1em;
    width: 100%;
}

.hero-footer p {
    color: var(--primary-gray);
}

.hero--license-info {
    transform: translateX(-50%);
}

.hero-footer a {
    color: var(--gray-2);
}

.hero-footer a:hover {
    color: var(--white);
}

/* card images */

.gallery-column_image img {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.image-card__profile {
    color: var(--gray-1);
    text-decoration: none;
}

.gallery-column_image svg {
    width: 1.2em;
    fill: var(--primary-gray);
}

.gallery-column_image button {
    border-radius: 0.2em;
    border: 0;
    padding: 0.5em;
    background-color: var(--gray-1);
}

.gallery-column_image {
    position: relative;
}

/* making the page responsive */

@media (hover:hover) {
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
    }

    .gallery-column_image img {
        margin-top: 0;
        margin-bottom: 0;
    }

    .gallery-column_image:hover .overlay {
        display: block;
        background: rgba(0, 0, 0, .2);
    }

    .gallery-column button {
        position: absolute;
    }

    .image-card__profile {
        position: absolute;
        left: 1em;
        bottom: 1.5em;
    }

    button.image-card__add-button {
        right: 1em;
        top: 1em;
    }

    button.image-card__like-button {
        right: 4em;
        top: 1em;
    }

    button.image-card__download-button {
        right: 1em;
        bottom: 1.5em;
    }
}

@media screen and (max-width:1200px) {

    nav .search-input {
        width: 30vw;
    }

    .bottom-navbar {
        overflow: auto;
        flex-wrap: nowrap;
        white-space: nowrap;
        gap: 1em;
        justify-content: space-between;
    }
}

@media screen and (max-width:980px) {

    .gallery-column:last-child {
        display: none;
    }

    .gallery-column {
        flex-basis: 45%;
    }

    nav .search-input {
        width: 20vw;
    }
}

@media screen and (max-width:770px) {
    nav .search-input {
        width: 60vw;
    }

    .top-navbar__item--desktop-only {
        display: none;
    }

    .hero_item--desktop-only {
        display: none;
    }
}

@media screen and (max-width:700px) {

    .gallery-column:last-child,
    .gallery-column:nth-last-child(2) {
        display: none;
    }

    .gallery-column {
        flex-basis: 100%;
    }
}

@media screen and (max-width:400px) {

    .bottom-navbar_item--active {
        border: 0;
    }

    .image-card__profile {
        color: var(---black);
    }

    .bottom-navbar {
        font-size: 14px;
    }

    .hero {
        height: 30vh;
        align-items: flex-start;
        padding-left: 0.5em;
        background-image: url(./assets/hero-image_small.jpeg);
    }

    .hero h1 {
        font-size: 2em;
        margin-top: 0;
        margin-bottom: 0.5em;
    }

    .hero h2 {
        margin-top: 0;
        margin-bottom: 0.5em;
        font-size: 1em;
        font-weight: normal;
    }
}