/*********************** FLEX  */
.flex {
    display: flex;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

.align-center {
    align-items: center;
}

.column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.row {
    flex-direction: row;
}

.justify-evenly {
    justify-content: space-evenly;
}

.gap-2 {
    gap: 0.5em;
}

.gap-x-4 {
    column-gap: 1em;
}

/*********************** Other displays  */
.block {
    display: block;
}

.inline {
    display: inline;
}

/*********************** POSITION  */
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.grid {
    display: grid;
}

/*********************** PADDING  */
.py-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.py-2 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.px-3 {
    padding-left: 0.75em;
    padding-right: 0.75em;
}

.pb-4 {
    padding-bottom: 1em;
}

.pt-4 {
    padding-top: 1em;
}

.px-8 {
    padding-left: 2em;
    padding-right: 2em;
}

/*********************** MARGIN  */
.mt-0 {
    margin-top: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.ml-0 {
    margin-left: 0;
}

.mr-1 {
    margin-right: 0.3em;
}

.mr-1 {
    margin-right: 0.25em;
}

.mb-2 {
    margin-bottom: 0.5em;
}

.m-2 {
    margin: 0.5em;
}

.my-2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.m-4 {
    margin: 1em;
}

.mx-4 {
    margin-left: 1em;
    margin-right: 1em;
}

.ml-4 {
    margin-left: 1em;
}

.m-6 {
    margin: 1.5em;
}

.mt-4 {
    margin-top: 1em;
}

.mb-6 {
    margin-bottom: 1.5em;
}

.mb-8 {
    margin-bottom: 2em;
}

/*********************** FONTS AND TEXT-ALIGN   */
.text-center {
    text-align: center;
}